<div class="top center blue">
	<h1>Contact me.</h1>
</div>

<div class="contact">
	<p>You can get a hold of me through one of these lovely online mediums:</p>
	<div class="flex">
		<li><%= link_to image_tag("facebook.png", alt: "Facebook"), "http://facebook.com/maggie.moreno", target: "_blank" %></li>
		<li><%= link_to image_tag("linkedin.png", alt: "LinkedIn"), "http://www.linkedin.com/in/maggiemoreno/", target: "_blank" %></li>
		<li><%= link_to image_tag("github.png", alt: "GitHub"), "http://github.com/missmaggiemo", target: "_blank" %></li>
		<li><%= link_to image_tag("gplus.png", alt: "Google+"), "https://www.google.com/+MaggieMoreno2312", target: "_blank" %></li>
	</div>
	
	<p> Or you can email me at margaret.m.moreno@gmail.com.</p>
	<div class="email"></div>
	
</div>