<div class="page-wrap home">
	<li>
		<div class="thumbnail">
			<%= link_to image_tag("thumbnail.png", alt: "Maggie Moreno"), '/about'%>
		</div>
	</li>
	<li>
		<div class="top center">
			<h1><strong>Hi, I'm Maggie.</strong></h1>
			<p>I'm learning to be a web developer.</p>
		</div>
	</li>
</div>
