<div class="top center blue">
	<h1>I've been fortunate enough to rack up some interesting experiences.</h1>
	<p>Some of them are listed below.</p>
</div>
<div class="resume">
	<li class="res-sect"><h3>Skills</h3>
		<ul class="skill">
			<li><strong>Web Development</strong>
				<ul class="sect more-skill">
					<li>Web Development Languages and Tools
						<ul class="sect minor-list">
							<li><em>I’m proficient:</em>  Ruby on Rails</li>
							<li><em>I’ve seen it before:</em>  SQL, JavaScript, JSON, HTML, CSS</li>
						</ul>
					</li>
				</ul>
			</li>
		
			<li><strong>UX Research Methods</strong>
				<ul class="sect more-skill">
					<li>Information Presentation
						<ul class="sect minor-list">
							<li>Blog writing, PowerPoint/Keynote presentations, infographic-type graph design</li>
						</ul>
					</li>
					<li>Data Analysis Techniques
						<ul class="sect minor-list">
							<li>Basic data analysis techniques along with ANOVA, regression techniques, cluster analysis, random forests, data visualization</li>
						</ul>
					</li>
					<li>Experimental Design
						<ul class="sect minor-list">
							<li>Light-weight UI testing, lean UX, survey design (both online and mobile, large and small scale), A/B testing, focus groups</li>
						</ul>
					</li>
					<li>Statistical Languages and Tools
						<ul class="sect minor-list">
							<li><em>I’m proficient:</em>  R (including ggplot2), Python (including pandas), Ruby, Matlab, Excel (including pivot tables)</li>
							<li><em>I’ve seen it before:</em>  Tableau</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	
	<li class="res-sect"><h3>Education</h3>
		<ul class="educat">
			<li><strong>BA</strong> (Psychology) 2010, University of Chicago</li>
			<li><strong>MSc</strong> (Cognitive Science) 2012, Università degli studi di Trento</li>
		</ul>
	</li>
	
	<li class="res-sect"><h3>Employment</h3>
		<ul class="year">
			<li><h4>2013</h4>
				<ul class="sect">
					<p>User Experience Intern at Immersion Corporation.</p>
					<p></p>
					<p><em>Major contributions:</em>  Small and large-scale user experience study design, survey design, data analysis (with R and Python), data management, and scientific writing.</p>
				</ul>
			</li>
			<li><h4>2011-2012</h4>
				<ul class="sect">
					<p>Research Assistant at SISSA, under the supervision of Giosuè Baggio. </p>
					<p></p>
					<p><em>Major contributions:</em>  The research, planning, and data analysis of a signaling games behavioral study. Experiments were run with Presentation software. Data was analyzed with Excel, Matlab, and R using analysis of variance techniques.</p>
				</ul>
			</li>
			<li><h4>2012</h4>
				<ul class="sect">
					<p>Research Consultant at Huskadu. </p>
					<p></p>
					<p><em>Major contributions:</em>  Researching competing websites, writing user experience surveys, and analyzing survey data. </p>
				</ul>
			</li>
			<li><h4>2011</h4>
				<ul class="sect">
					<p>Research Assistant in the Functional Neuroimaging Lab, Centro interdipartimentale Mente/Cervello (CIMeC), Università degli Studi di Trento, under the supervision of Dr. Uri Hasson and Dr. Pascale Tremblay.</p>
					<p></p>
					<p><em>Major contributions:</em>  Recruiting participants, administering consent forms, running behavioral experiments with Praat and Presentation.</p>
				</ul>
			</li>
			<li><h4>2009 – 2010</h4>
				<ul class="sect">
					<p>Research Assistant in the Department of Psychology of the University of Chicago, under the supervision of Dr. Howard Nusbaum.</p>
					<p></p>
					<p><em>Major contributions:</em>  Creating audio stimuli with Audacity and Praat, designing and running behavioral experiments with EPrime.</p>
				</ul>
			</li>
			<li><h4>2009</h4>
				<ul class="sect">
					<p>Research Assistant in the Department of Neurology at the University of Chicago, under the supervision of Dr. Leo Towle.</p>
					<p></p>
					<p><em>Major contributions:</em>  Working with raw EEG data in NeuroScan. Data was passed through a bandwidth filter, and epileptic events were tagged.</p>
				</ul>
			</li>
		</ul>
	</li>
</div>