<div class="top center blue">
	<h1>Here's what I've been up to lately.</h1>
	<p>In reverse chronological order.</p>
</div>

<div class="projects">
	<div class="project">
		<li>
			<%= link_to image_tag("dev_survey.png", alt: "Developer Survey Results"), "http://blog.immersion.com/2013/11/evidence-for-the-awesomeness-of-haptics/"%>
		</li>
		<li>
			<p><%= link_to "Evidence for the Awesomeness of Haptics", "http://blog.immersion.com/2013/11/evidence-for-the-awesomeness-of-haptics/" %></p>
			<p>Blog post for Immersion Corporation.</p>
		</li>
	</div>
	<div class="project">
		<li>
			<%= link_to image_tag("value_of_mmf.png", alt: "White Paper"), "http://www.immersion.com/markets/automotive/portal/resources/white-papers.html"%>
		</li>
		<li>
			<p>The Value of Multimodal Feedback in Automotive User Interfaces.</p>
			<p>White paper for Immersion Corporation.</p>
			<p></p>
			<p><%= link_to "Download available at Immersion Corporation website.", "http://www.immersion.com/markets/automotive/portal/resources/white-papers.html" %></p>
		</li>
	</div>
</div>