<div class="email">
	<div class="top center blue">
		<h1>Email me.</h1>
		<p>I'd love to hear from you!</p>
	</div>
	
	<div class="row">
		<div class="span8">
			<%= render 'form_for_message'%>
		</div>
	</div>
</div>
