<div class="top center blue">
	<h1>Oh no! A system error!</h1>
	<p>It seems like you're a little lost.</p>
</div>
<div class="page-wrap maintenance">
  <div class="page-wrap topic">
  	<div class="page-wrap pic">
  		<%= image_tag("cat_vs_printer.gif", alt: "Maggie")%>
  	</div>
  	<div class="page-wrap text">
      <p>
        The page you were looking for either doesn't exist anymore, doesn't exist yet, or never existed in the first place.<br><br>
        Any of these options is pretty disappointing.<br><br>
        But if you're <em>sure</em> that you know what you were looking for, and you're <em>sure</em> that the URL is right, <%= link_to "please send me an email", email_path %>, and I'll do my best to fix it ASAP!
      </p>
    </div>
  </div>
</div>
