<div class="top center blue">
	<h1>Blog- blog title goes here?</h1>
	<p>Or maybe title goes here? Or maybe this big blue things doesn't exist?</p>
</div>
<div class="blog-post-edit">
  A form will go here. But the question is, how will I allow users to edit a blog post w/out making all the info go away?
  <%= render "form_for_post" %>
</div>