<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You got an email from <%= @name %>!</h1>
    <p>
		<%= @content %>
    </p>
    <p>
      From <%= @name %> at <%= @email %> .
    </p>
  </body>
</html>