@import "bootstrap";

//mixins, variables, etc

$grayMediumLight: #eaeaea;

$myBlue: #c6f0fb;

$myBlueDark: #048daf;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 980px) {
	.navbar .nav-collapse {
	        clear: none;
		}
}

//universal

html{
	overflow-y: scroll;
}

body{
	padding-top: 0px;
	font-size: 1em;
}

ul {
	margin: 0;
	list-style: none;
}

li {
	list-style: none;
}

.container {
	width: 80%;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.blue {
	background-color: $myBlue;
}

.flex {
	clear: both;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	
	li {
		list-style: none;
	}
	
	img {
		width: 10vw;
		border: 5px solid $white;
		border-radius: 0;
		
		@media (max-width: 500px) {
			width: 15vw;
		}
	}
}


//header

.navbar-inner {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.navbar-container {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding-top: 9px;
	padding-bottom: 9px;
}

.main-logo {
	display: flex;
	flex: 1 1 auto;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: $grayDark;
	letter-spacing: -1px;
	font-weight: bold;
	line-weight: 1;
	.main-logo {
		text-align: left;
	}
	&:hover {
		color: $myBlueDark;
		text-decoration: none;
	}
}

.nav-links {
	display: flex;
	flex-flow: row wrap;
	flex: 0.3 2 auto;
	clear: both;
	justify-content: space-around;
	
	a {
		padding: 9px;
		text-decoration: none;
		color: $gray;
		line-height: 25px;
		&:hover {
			color: $grayDarker;
			text-decoration: none;
		}
	}
	
}


//footer

footer {
	margin-top: 45px;
	padding-top: 5px;
	padding-bottom: 30px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	margin-right: auto;
	margin-left: auto;
	float: center;
	text-align: center;
}


//home

.home {
	min-height: 350px;
	height: 70vh;
	
	.thumbnail {
		border: 0;
		box-shadow: none;
		border-radius: 0;
		-webkit-box-shadow: none;
		padding-bottom: 20px;
		padding-top: 20px;
		background-color: $myBlue;
	
		img {
			border: none;
			border-radius:50%;
			width: 40%;
		}
	}
}

.top {
	padding: 5%;
	font-size: 1.2em;
	margin-bottom: 20px;
	h1 {
		font-size: 1.8em;
		margin-bottom: 10px;
	}
	@media (max-width: 500px) {
		padding: 10%;
	}
}


//contact

.contact {
	
	min-height: 350px;
	height: 70vh;
	
	p {
		font-size: 1.2em;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	img {
		&:hover {
			border: 5px solid $myBlueDark;
			text-decoration: none;
		}
	}
}

//about

.resume {
		
	li {
		line-height: 175%;
	}
	
	.res-sect {
		list-style: none;
		font-weight: bold;
		margin-bottom: 20px;
		
		.sect {
			margin-bottom: 10px;
			margin-left: 10px;
		}
		
		h3 {
			text-decoration: underline;
			font-size: 1.5em;
		}
		
		ul {
			list-style: none;
			font-weight: normal;
			font-size: 1.1em;
			margin-bottom: 10px;
			
			.minor-list {
				font-size: 0.9em;
			}
		}
	}
}


//projects

.project {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-content: flex-start;
	
	li {
		padding: 10px;
		
		p:first-child {
			font-style: italic;
		}
	}
	
	a {
		color: $grayDark;
		text-decoration: none;
		&:hover {
			color: $myBlueDark;
			text-decoration: none;
		}
	}
	
	img {
		width: 30vw;
	}
}

//email

.email {
	input, select, .uneditable-input {
		border: 1px solid #bbb;
		width: 70%;
		margin-bottom: 15px;
		@include box_sizing;
	}

	.span8 {
		float: center;
		margin-left: auto;
		margin-right: auto;
		@media (max-width: 500px) {
			width: 90vw;
		}
	}

	input {
		height: auto !important;
	}
	
	textarea {
		border: 1px solid #bbb;
		width: 100%;
		min-height: 150px;
		margin-bottom: 15px;
		@include box_sizing;
	}
	
	.btn {
		border: none;
		background-color: $myBlueDark;
		border-radius: 0;
		background-image: none;
		color: $white;
		text-shadow: none;
	}

}

//error

#error_explanation {
	color: $red;
	margin-bottom: 20px;
	font-size: 0.9em;
	
	.alert {
		border-radius: 0;
		border: none;
	}
}
