<footer class="footer">
	<div class="page-wrap footer-inner">
		<li>
			<small>
				Copyright Maggie Moreno
			</small>
		</li>
		<li>
			<small>
				<%= link_to "Email Me", email_path %>
			</small>
		</li>
	</div>
</footer>