<footer class="footer">
	<div class="footer-inner">
		<small>
			Copyright Maggie Moreno
		</small>
		<nav>
			<ul>
				<li><%= link_to "About Me", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</footer>